.form{
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 15px;
    background-color: white;
}

.form input[type="text"]{
    padding: 6px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 20%;
    font-size: 13px;
}

.form button{
    padding: 8px 12px;
    background-color: #00D678;
    color: white;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 10px;
}